* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen';
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #5cff33, #FFFFFF);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 800px;
}

.pokemon_image {
    position: absolute;
    bottom: 45%;
    left: 21.5%;
    height: 18%;
    max-width: 20%;
    z-index: 5;
}

.pokemon_data {
    position: absolute;
    font-size: 1vw;
    font-weight: 600;
    color: #aaa;
    top: 40%;
    right: 15%;
}

.pokemon_name {
    color: aquamarine;
    text-transform: captalize;
}

.form {
    position: absolute;
    width: 31%;
    top: 52%;
    left: 59%;
    height: 12%;
}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    color: #06333d;
    background-color: #1CC5EB;
    font-size: 1vw;
    border-radius: 5px;
    height: 100%;
    text-align: center;
}

.input_search::placeholder {
    color: #06333d;
    text-align: center;
}

.buttons {
    position: absolute;
    bottom: 14%;
    left: 59%;
    width: 31%;
    transform: translate(0, 0);
    display: flex;
    gap: 20px;
    height: 7%;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 0.5vw;
    font-weight: 600;
    color: white;
    background-color: #024034;
    box-shadow: -2px 3px 0 #011a15;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.3vw;
}

.pokemon_background {
    position: absolute;
    bottom: 40%;
    left: 10%;
    height: 30%;
    z-index: -5;
}